body{
    background-image:url(/assets/img/fondo1.jpg);
        // Navbar
        .logo_navbar img{
            height: 50px;
        }
        .carousel-item {
            height: 500px;
            object-fit: cover;
    
        }
    }