$tipografia-general: "Roboto", sans-serif;
$tipografia-alternativa: 'Times New Roman', Times, serif;
$color-primario:#F647EE;

$contenedor-flex : flex;
$contenedor-grid : grid;
$justify-between : space-between;
$justify-texto : rigth;


$flex-direction-row:row;
$flex-direction-column:column;
$justify-content-between :space-between;
$align-items-center:center;